@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header .line{
    height: 10px;
    background-color: #117050;
}